/*genres secion*/
.genres li {
	display: inline-block;
	list-style: none;
}

.genres li a {
	display: inline-block;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
}

.genres li a {
	color: #23527c;
}

.genres li a:hover, 
.genres li a:visited,
.genres li a:active,
.genres li a:focus {
	text-decoration: none;

}

.genres li a.active {
	background-color: gray;
	color: white;
}

/*artist section*/

section.artists ul {
	display: -webkit-flex; 
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
}

.artists li {
	display: block;
	list-style: none;
}

.artists li.hidden {
	display: none;
}

.artists .artist {
	width: 200px;
	height: 200px;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	margin: 5px;
	text-align: center;
}

.artist img {
	width: 80%;
	border-radius: 30px;
}

.artist a {
	display: block;
}

/*similar section*/
.similar_wrapper {
	text-align: center;
}

.similar_wrapper img {
	border-radius: 30px;
}

.similar_wrapper h3 {
	padding-top: 20px;
}