{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Test Bootstrap{% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Main link</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">List link 1</a></li>
                    <li><a href="/">List link 2</a></li>
                    <li><a href="/">List link 3</a></li>
                    <li><a href="/">List link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Привет, {{ name | capitalize }}!</h1>
        </div>


        {% block app_content %}
        <p>Введи логин пользователя Yandex.Музыка</p>
            <form method="GET" action="/submit">
                {{ form.csrf_token }}
                {{ form.name.label }} {{ form.name(size=30) }}
                <input type="submit" value="Найти">
            </form>
        {% endblock %}

    </div>
{% endblock %}